
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensagem"]
    </div>
}

@if (ViewBag.Mensagem != null)
{
    <div class="alert alert-warning">
        @ViewBag.Mensagem
    </div>
}

@if (TempData["ErroAutorizacao"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErroAutorizacao"]
    </div>
}